@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-light: blue;
  --color-light-gray: #c1c1c1;
  --color-dark-gray: #414141;
  --color-home-gray: #f1f5f9;
  --color-very-light-primary: #A9CFFF;
  --color-v-light-gray: #F3F4F6;
  --color-border-color: #DDE1EE;
}

@layer base {
  * {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    scrollbar-width: thin;
    scrollbar-color: #787777 #1e1e1e;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }
}

body {
  color: #414141;
}
